@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");


*{
    box-sizing: border-box;
}

body {
    background-image: url(https://images.pexels.com/photos/713148/pexels-photo-713148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

img{
    max-width: 100%;
}

h2{
    font-size: 3rem;
    margin: 2rem 0;
}

.container{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 800px;
    justify-items: center;
}

.timer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.element{
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 2rem;
}
 
.e{
    text-align: center;
}
.e span{
    font-size: 1.5rem;
}